@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  background: linear-gradient(
    to right,
    hsla(194, 95%, 15%, 0.826),
    hsla(152, 75%, 42%, 0.507)
  );

 
}

h1{
  text-align:center;
  color: #ffffff;
  font-family: "Playwrite US Trad", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 2rem;
  margin: 1rem auto;

}

h2{
  text-align:center;
  color: #ffffff;
  font-family: "Playwrite US Trad", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 1rem;
  margin: 0 auto;
}

.overall-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid rgb(30, 61, 61);
  border-radius: 12px;
  width: 410px;
  position: relative;
}

.calculator-grid {
  display: grid;
  margin: 2px auto;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  position: relative;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid #b4becb;
  border-radius: 3px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
  /* background-color:hsla(194, 95%, 15%, 0.826) */
}

.border-left-rounded {
  border-bottom-left-radius: 8px !important;
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
  border-bottom-right-radius: 8px !important;
}

.output {
  grid-column: 1 / -1;
  background-color: rgb(30, 61, 61);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 12px;
  border: 3px solid rgb(30, 61, 61);;
  border-top-right-radius: 12px !important;
  border-top-left-radius: 12px !important;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  /* color: rgba(255, 255, 255, 0.75); */
  color: #ffffff;
  font-size: 1.5rem;
}

.output .current-operand {
  color: #ffffff;
  font-size: 2.5rem;
}
